<div class="container">
    <div class="child">
      <div>
        <span class="color-fundoo-F" style="color:#4285F4">F</span>
        <span class="color-fundoo" style="color:#EA4335">u</span>
        <span class="color-fundoo" style="color:#FBBC05">n</span>
        <span class="color-fundoo" style="color:#4285F4">d</span>
        <span class="color-fundoo" style="color:#34A853">o</span>
        <span class="color-fundoo" style="color:#EA4335">o</span>
      </div>
    </div>
    <div class="child signin">
      <span>Reset Password</span>
    </div>
   
    
    <form  class="child resetPasswordForm" >
     
      <div class="password form-item">
        <mat-form-field class="new-password" appearance="outline">
          <mat-label >Password</mat-label>
          <input type="password" id="password"  matInput placeholder="Enter new password" name="password" formControlName="password">
        </mat-form-field>
      
        <mat-form-field class="confirm-password" appearance="outline">
          <mat-label >Confirm</mat-label>
          <input  matInput placeholder="Re-Enter password "  formControlName="confirmPassword" >
        </mat-form-field>
        <mat-hint class="pass-hint"  >Use 8 or more characters with a mix of letters, numbers at least 1 uppercase, 1 digit & 1 symbol</mat-hint>
      </div>
      <div class="Show-password">
        <section class="example-section">
          <mat-checkbox color="primary" (change)="TogglePassword()"  >Show password</mat-checkbox>
        </section>
    
      </div>
    
      <div class="btns">
        <div class="create">
          
          Create account
          
        </div>
        <div class="submit-btn">
          <button type="submit" mat-raised-button >Submit</button>
        </div>
      </div>
    </form>
  </div>