
  <div>
    <span style="color:#4285F4">Fun</span>
    <span style="color:#EA4335">Doo</span>
    <span style="color:#FBBC05">N</span>
    <span style="color:#4285F4">o</span>
    <span style="color:#34A853">t</span>
    <span style="color:#EA4335">e</span>
    <span style="color:#4285F4">s</span>
  </div>


<div class="div-form">
  <div class="FunDooNotes">
    <div>
      <span class="color-fundoo-F" style="color:#4285F4">F</span>
      <span class="color-fundoo" style="color:#EA4335">u</span>
      <span class="color-fundoo" style="color:#FBBC05">n</span>
      <span class="color-fundoo" style="color:#4285F4">d</span>
      <span class="color-fundoo" style="color:#34A853">o</span>
      <span class="color-fundoo" style="color:#EA4335">o</span>
    </div>
    <br>
    <div>
      <span style = "font-size: large;">Forgot password</span>
    </div>
     <div>
      <span style="font-size: small;">Enter login Email</span>
     </div>
     
  </div>
  
  <form [formGroup]="ForgetForm" (ngSubmit)="forget()">

      <div class="container"> 
    
        <div class="email">
          <mat-form-field class="user" appearance="outline">
            <mat-label >Email</mat-label>
            <input matInput placeholder="" formControlName="email">
            <mat-hint>You can use letters, numbers & periods</mat-hint>
          </mat-form-field>
        </div>
   
        <div class="flexBox btn-item">
 
          <button type="submit" mat-raised-button color="primary">Send</button>
        </div>
      </div>
  </form>
</div>
    


